{% extends 'base.html.twig' %}

{% set page_title = user is null ? 'Utilisateur inconnu' : user.username %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}
	<section class="container px-4">
		{% if user is not null %}
			<div class="card mb-1 m-auto">
				<div class="card-body">
					<div class="card-title d-flex justify-content-between">
						<h4 class="mb-1">{{ user.username }}</h4>
						<small class="text-muted">Idantifiant:
							{{ user.id }}
						</small>
					</div>
					<div class="d-flex justify-content-between card-text">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Nom :
								{{ user.firstname }}</li>
							<li class="list-group-item">Prénom :
								{{ user.lastname }}</li>
							<li class="list-group-item">Email :
								{{ user.email }}
							</li>
						</ul>
						<p>
							<small>Dernière connexion :
								{{ user.lastConnectedAt|date('d M Y') }}</small>
						</p>
					</div>
				</div>
			</div>
		{% else %}
			<div>Auteur inconnu</div>
		{% endif %}

		<a href="{{ path('app_admin_user_index') }}" class="btn btn-primary">Retour</a>
		{% if is_granted('ROLE_ADMIN', 'ROLE_EDITION_DE_LIVRE') %}
			<a href="{{ path('app_admin_user_edit', {id: user.id}) }}" class="btn btn-secondary">Modifier</a>
		{% endif %}
	</section>
{% endblock %}
