{% extends 'base.html.twig' %}

{% set page_title = app.current_route == 'app_admin_editor_new' ? 'Ajout d\'un éditeur' : 'Modification' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}
	<section class="container px-4">
		<div class='w-50 m-auto'>
			<h1>{{ page_title }}</h1>

			{{ form_start(form )}}
			{{ form_row(form.name, {label: 'Nom'}) }}
			<button type="submit" class="btn btn-primary">Ajouter</button>
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
