{% extends 'base.html.twig' %}

{% set page_title = editor is null ? 'Éditeur inconnu' : editor.name %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}
	<section class="container px-4">
		{% if editor is not null %}
			<div class="card mb-1 m-auto">
				<div class="card-body">
					<div class="card-title d-flex justify-content-between">
						<h4 class="mb-1">{{ editor.name }}</h4>
						<small class="text-muted">Idantifiant:
							{{ editor.id }}
						</small>
					</div>
				</div>
			</div>

			<h3>Livres</h3>

			<ul class="list-group list-group-flush">
				{% for book in editor.books %}
					<div class="card mb-1">
						<div class="card-body">
							<div class="card-title d-flex justify-content-between">
								<a href="{{ path('app_admin_book_show', {id: book.id}) }}" class="stretched-link link-dark">
									<h4 class="mb-1">{{ book.title }}</h4>
								</a>
								<small class="text-muted">Idantifiant:
									{{ book.id }}</small>
							</div>
						</div>
					</div>
				{% else %}
					<li>Aucun enregistrement en base de nonnées</li>
				{% endfor %}
			</ul>
		{% else %}
			<div>Éditeur inconnu</div>
		{% endif %}

		<div class="d-flex justify-content-between">
			<a href="{{ path('app_admin_editor_index')}}" class="btn btn-primary">Retour</a>
			<div>
				{% if is_granted('ROLE_ADMIN', 'ROLE_EDITION_DE_LIVRE') %}
					<a href="{{ path('app_admin_editor_edit', {id: editor.id}) }}" class="btn btn-secondary">Modifier</a>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<form action="{{ path('app_admin_editor_delete', {id: editor.id}) }}" method="post" style="display:inline;">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ editor.id) }}">
						<button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet éditeur ?');">Supprimer</button>
					</form>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
